* {
    margin: 0;
    padding: 0;
    list-style: none;
    outline: none;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: #d3d7ed;
    display: flex;
    width: 100vw;
    height: 100vh;
}

/* Main Log In Page*/

main {
    margin: auto;
    background-color: #f2f2f2;
    width: 600px;
    height: 60%;
    margin-top: 20vh;
    margin-bottom: 20vh;
    border-radius: 15px;
    display: flex;
}

header {
    display: flex;
    justify-content: space-between;
    height: 150px;
    margin: 0 auto;
}

.header-menu {
    margin: auto 0;
    display: flex;
    flex-direction: row;
    gap: 50px;
    color: #000050;
    font-weight: 900;
    font-size: 1.2em;
}

li {
    cursor: pointer;
}

#header-login-button {
    background-color: transparent;
    border: none;
}

.active-button {
    background-color: #fff;
    padding: 10px 30px 10px 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition-duration: 400ms;
}

#content-wrapper {
    position: absolute;
    top: 50%;
    margin-top: 5rem;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.login-input-group {
    flex-direction: column;
    align-items: center;
    width: 70%;
}

.user-info {
    width: 100%;
    height: 50px;
    padding: 5px;
    margin: 0 auto;
    background-color: #e5ebf5;
    border: solid #efebf5 2px;
    border-radius: 15px;
    text-indent: 20px;
    font-weight: 500;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

#forgot-password {
    text-decoration: none;
    color: #777a84;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: auto;
    display: inline-block;
    float: right;
}

#signin-register-button {
    width: 100%;
    height: 40px;
    background-color: #313af1;
    border: none;
    color: #fff;
    font-size: 16px;
    border-radius: 10px;
    font-weight: 400;
    transition-duration: 200ms;
}

/* Job Application Home Page */

.job-application-page {
    height: 100vh;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 10rem;
}

.card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    overflow: hidden;
    background-color: #b9bfe1;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}

    .card:hover {
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    }

.card-header {
    text-align: center;
    margin-bottom: 10px;
}

.display-category {
    font-weight: 900;
    font-size: 1.5rem;
    margin-top: 5rem;
    margin-left: 5rem;
    justify-content: center;
    text-align: center;
}

.card-body {
    margin-bottom: 10px;
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.card-footer {
    text-align: center;
}

    .card-footer a {
        margin-right: 10px;
    }
